
<div class="row mb-4 mt-4">




    <div class="col-md-2">
        
         
            <div class="input-group-append">
                <span (click)="backClicked()" class="btn btn-success  "><i class="fa fa-chevron-circle-left"></i> Back</span>
                
            </div>
         
    </div>
    <div class="col-md-2">
        
         
        <div class="input-group-append">
            <span (click)="openModal(modalContent, null)" class="btn btn-success  "><i class="fa fa-plus-circle"></i> Upload Designs</span>
          
        </div>
     
</div>
    <div class="col-md-2"> <h2>{{cat_datafull.Productname}}</h2> </div>  
    <div class="col-md-6">
            <div class="input-group mb-3 box-shadow"> 
                <div class="input-group-prepend">
                    <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i class="fa fa-search"></i></span>
                </div>                   
                <input type="text" [(ngModel)]="searchText"  placeholder="Search Product by any..." class="form-control border-0">
                <div class="input-group-append">
                    
                    <span (click)="toggle('grid')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-th"></i></span>
                    <span (click)="toggle('list')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-list"></i></span>
                </div>
            </div>
        </div>
</div>

<div *ngIf="type=='grid'" class="row">
     <div *ngFor="let user of users | filter : searchText | paginate: { itemsPerPage: 6, currentPage: p }; let i = index;" class="col-xl-4 col-lg-6 mb-4">
    <!-- <div *ngFor="let user of users; let i = index;" class="col-xl-4 col-lg-6 mb-4"> -->
      
        <div class="flip productflip">
            <div class="content">
                <div class="front">
                    <div class="card border-0 box-shadow rounded-0">
                        <div class="card-header border-0 rounded-0 text-muted">
                            <h5 class="mb-0">
                                <i *ngIf="!user.settings.isDeleted" class="fa fa-user mr-2" [ngClass]="{ 'text-success': user.settings.isActive, 
                                                                        'text-inverse': !user.settings.isActive}" placement="bottom" [ngbTooltip]="(user.settings.isActive) ? 'active' : 'passive'"></i>
                                <i *ngIf="user.settings.isDeleted" class="fa fa-user mr-2 text-danger" placement="bottom" [ngbTooltip]="'deleted'"></i>
                                {{user.Productname}} 
                            </h5>
                            <div class="widget-controls"> 
                                
                                <a (click)="openMenuAssign($event)" href="javascript:void(0);" class="transition"><i class="fa fa-bars"></i></a> 
                                <a (click)="openModal(modalContent, user)" href="javascript:void(0);" class="transition"><i class="fa fa-pencil"></i></a>             
                                <a (click)="deleteUser(user)" href="javascript:void(0);" class="transition"><i class="fa fa-trash"></i></a> 
                            </div>        
                        </div>
                         <div class="card-body pt-3">
                            
                          <div class="media">
                                           <div class="d-flex flex-column justify-content-center">
                                    <img *ngIf="user.image" class="IMG-DIV" [src]="user.image" width="80">
                                    <img *ngIf="!user.image" class="IMG-DIV" src="assets/img/users/default-user.jpg" width="80">
                                  
                                </div>                 
                                <div class="media-body ml-3">
                                    <div class="row">  
                                        <div class="col-6 text-gray text-right pr-0 text-truncate">Product name:</div>
                                        <div class="col-6 pl-2 text-truncate">{{user.Productname}}</div>                          
                                        <div class="col-6 text-gray text-right pr-0 text-truncate">Price:</div>
                                        <div class="col-6 pl-2 text-truncate">{{user.price}}</div>
                                     
                                        <div class="col-6 text-gray text-right pr-0 text-truncate">Category:</div>
                                        <div class="col-6 pl-2 text-truncate fs-12 pt-2p">{{user.category}}</div>
                                    </div>
                                    <div class="view-div">
                                            <button  type="button"
                                            class="btn btn-warning2 btn-sm view-btn pull-left"
                                            (click)="openModal(modalContent2, user)"
                                           
                                          >  Move
                                          </button>
                                    </div>
                                    <div class="view-div">
                                            <button  type="button"
                                            class="btn btn-warning btn-sm view-btn pull-right"
                                            (click)="goviewpage(user.id)"
                                           
                                          > <i class="fa fa-eye" aria-hidden="true"></i> View
                                          </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="back">
                    <div class="card border-0 box-shadow rounded-0">
                        <div class="card-header border-0 rounded-0 text-muted">
                            <h5 class="mb-0">
                                <i *ngIf="!user.settings.isDeleted" class="fa fa-user mr-2" [ngClass]="{ 'text-success': user.settings.isActive, 
                                                                        'text-inverse': !user.settings.isActive}" placement="bottom" [ngbTooltip]="(user.settings.isActive) ? 'active' : 'passive'"></i>
                                <i *ngIf="user.settings.isDeleted" class="fa fa-user mr-2 text-danger" placement="bottom" [ngbTooltip]="'deleted'"></i>
                                {{user.Productname}}
                            </h5>
                            <div class="widget-controls"> 
                                <a (click)="closeMenuAssign($event)" href="javascript:void(0);" class="transition"><i class="fa fa-times"></i></a>
                            </div>        
                        </div>
                        <div class="card-body pt-3">            
                            <ss-multiselect-dropdown id="menuSelect{{user.id}}" class="custom-multiselect"
                                [options]="menuSelectOptions" 
                                [texts]="menuSelectTexts" 
                                (ngModelChange)="onchangeAssignee($event,user.id);"
                                [settings]="menuSelectSettings"
                                [(ngModel)]="user.assignee">
                            </ss-multiselect-dropdown>
                            <div class="w-100 text-center pt-3">
                                <!-- <button class="btn btn-success" (click)="assignMenuItemsToUser(user)"> Multiple select Assign </button> -->
                                <p class="text-gray fs-13 mt-2">Logout and login to see result.</p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="type=='list'" class="row">
    <div class="col-12">
        <div class="table-responsive bg-white box-shadow">
            <table class="table table-hover">
                <thead>
                    <tr> 
                        <th></th>
                        <th>Product Name</th> 
                        <th>Product Id</th>                      
                        <th>Price</th>                        
                        <!-- <th>Username</th>
                        <th>Email</th> -->
                        <th>Size</th>
                         <th>Category</th>                     
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users | productbycategory : cat_datafull.maincat | subcategorybycategory : cat_datafull.maincat | stagesearch : cat_datafull.stage |   filter : searchText | paginate: { itemsPerPage: 6, currentPage: p }">                        
                    <!-- <tr *ngFor="let user of users">                         -->
                       
                        <td class="align-middle">
                            <img *ngIf="user.image" class="IMG-DIV" [src]="user.image" width="40">
                            <img *ngIf="!user.image" class="IMG-DIV" src="assets/img/users/default-user.jpg" width="40">
                        </td>
                        <td class="align-middle text-truncate">{{user.Productname}} </td>
                        <td class="align-middle text-truncate">{{user.productId}}</td>
                        <td class="align-middle text-truncate">{{user.price}}</td>                        
                        <!-- <td class="align-middle text-truncate">{{user.username}}</td>
                        <td class="align-middle text-truncate">{{user.contacts.email}}</td> -->
                        <td class="align-middle">
                            <i *ngIf="!user.settings.isDeleted" class="fa fa-user mr-2" [ngClass]="{ 'text-success': user.settings.isActive, 
                                                                                                     'text-inverse': !user.settings.isActive}" placement="bottom" [ngbTooltip]="(user.settings.isActive) ? 'active' : 'passive'"></i>
                            <i *ngIf="user.settings.isDeleted" class="fa fa-user mr-2 text-danger" placement="bottom" [ngbTooltip]="'deleted'"></i>
                        </td>
                        <td class="align-middle text-truncate">{{user.category}}</td>
                        <td class="align-middle">
                            <div class="btn-group" role="group">
                                <button class="btn btn-secondary btn-sm" (click)="openModal(modalContent, user)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-secondary btn-sm" (click)="deleteUser(user)"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="bg-white text-center">
            <pagination-controls autoHide="true" (pageChange)="p = $event" maxSize="3"></pagination-controls>
        </div>        
    </div>
</div>

<ng-template #modalContent>
    <div class="modal-body bg-gray modal-lg">
        <div class="row">
            <div class="col-12 vertical-tabs">                
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="row px-3">
                    <ul class="nav flex-column left col-3 border-0 rounded-0 mr-0 bg-light">                    
                        <img *ngIf="user.image" class="w-100" [src]="user.image">
                        <img *ngIf="!user.image" class="w-100" src="assets/img/users/default-user.jpg">                
                        <li class="nav-item bg-light">
                            <a class="nav-link active" href="#basic" data-toggle="tab">Basic</a>
                        </li>
                     
                        <li class="nav-item bg-light">
                            <a class="nav-link" href="#settings" data-toggle="tab">Settings</a>
                        </li>                 
                    </ul>                    
                    <div class="tab-content col-9 border-0">
                        <div class="tab-pane active" id="basic">                                                
                            <div class="form-group">
                                <label class="text-gray">Productname</label>
                                <input formControlName="Productname" class="form-control validation-field" type="text">
                                <small class="text-danger" *ngIf="form.controls.Productname.touched && form.controls.Productname.errors?.required">Productname is required</small>                              
                                
                            </div>
                            <div class="form-group">
                                <label class="text-gray">ProductId</label>
                                <input formControlName="productId" class="form-control validation-field" type="text">
                                <small class="text-danger" *ngIf="form.controls.productId.touched && form.controls.productId.errors?.required">ProductId is required</small>                              
                                
                            </div>        
                            <div class="form-group">
                                <label class="text-gray">Price</label>
                                <input formControlName="price" maxlength="7" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" class="form-control validation-field" type="text">
                                <small class="text-danger" *ngIf="form.controls.price.touched && form.controls.price.errors?.required">Price is required</small>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Size</label>
                                <input formControlName="size" class="form-control validation-field" type="text">
                                <small class="text-danger" *ngIf="form.controls.size.touched && form.controls.size.errors?.required">Size is required</small>                              
                                
                            </div>    
                            <!-- <div class="form-group">
                                <label class="text-gray">Discount Name</label>
                                <input formControlName="DiscountName" class="form-control validation-field" type="text">
                                   
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Discount Amount</label>
                                <input formControlName="DiscountAmount" oninput="this.value = this.value.replace(/[^0-9+]/g, '').replace(/(\..*)\./g, '$1');" class="form-control validation-field" type="text">
                                
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Color</label>
                                <input formControlName="color"  class="form-control validation-field" type="text">
                                <small class="text-danger" *ngIf="form.controls.color.touched && form.controls.color.errors?.required">Color is required</small>                              
                                
                            </div> -->
                            <!-- <div class="form-group">
                                <label class="text-gray">Category</label>
                           
                                <select formControlName="category"  class="form-control" type="text">

                                    <option [value]="cat_datafull.Productname" selected>{{cat_datafull.Productname}}</option>
                                 
                            </select>
                                <small class="text-danger" *ngIf="form.controls.category.touched && form.controls.category.errors?.required">Category is required</small>                              
                                
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Sub Category</label>
                                <input formControlName="subcategory"  class="form-control validation-field" type="text">
                                <small class="text-danger" *ngIf="form.controls.subcategory.touched && form.controls.subcategory.errors?.required">Sub Category is required</small>                              
                                
                            </div> -->
                            <div class="form-group">
                                <label class="text-gray">Stage</label>
                             
                                <select formControlName="stage"  class="form-control" type="text">
                                    <option *ngFor="let stage of cat_datafull.stagelist" value='{{stage.stageid}}'>{{stage.stagename}}</option>
                                    <!--<option value='Stage1' >Stage 1</option>
                                    <option value='Stage2' >Stage 2</option>
                                    <option value='Stage3' >Stage 3</option>-->
                                 
                            </select>
                                <small class="text-danger" *ngIf="form.controls.stage.touched && form.controls.stage.errors?.required">Stage is required</small>                              
                                
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Description</label>
                                <textarea formControlName="highlights" class="form-control validation-field" type="text"></textarea>
                                <small class="text-danger" *ngIf="form.controls.highlights.touched && form.controls.highlights.errors?.required">Highlights is required</small>                              
                                
                            </div>    
                            <div class="form-group">
                                    <ngfFormData
                                   
                                    [files]      = "files"
                                    postName     = "file[]"
                                    [(FormData)] = "sendableFormData"
                                  ></ngfFormData>
                                  <ngfUploadStatus
          [(percent)] = "progress"
          [httpEvent] = "httpEvent"
        ></ngfUploadStatus>
                                <label class="text-gray">Images</label>
                                <div
      ngfDrop
      multiple         = "1"
      selectable       = "1"
      [(validDrag)]    = "validComboDrag"
      [(files)]        = "files"
      accept           = "image/*"
      [maxSize]        = "maxSize"
      [(lastInvalids)] = "lastInvalids"
      [(dragFiles)]    = "dragFiles"
      class            = "well my-drop-zone"
      [class.invalid-drag] = "validComboDrag===false"
      [class.valid-drag]   = "validComboDrag"
      (filesChange) = "lastFileAt=getDate()"
      
    >
       drop/select <strong>image</strong> only 
    </div>
                                 <input  ngfSelect
                               
                                type      = "hidden"
                               
                                 formControlName="Images"   class="form-control validation-field"  (change)="onSelectFile($event)" multiple> 
                            <small class="text-danger" *ngIf="form.controls.Images.touched && form.controls.Images.errors?.required">Image is required</small>                              
                                
                            </div>
                            <div class="uploadImage-div" *ngFor="let item of files;let i=index">
                                   
                                    <div class="previewIcon uploadImage" [ngfBackground]="item"></div>
                                <i (click)="files.splice(i,1)" class="fa fa-close closeicon"></i>
                            </div>
                            <div class="uploadImage-div" *ngFor="let item of user.Images;let i=index">
                                   
                                    <img class="previewIcon uploadImage" [src]="imgurl+item"/>
                                <i (click)="user.Images.splice(i,1)" class="fa fa-close closeicon"></i>
                            </div>
                            <div>

                            </div>
                            

                               

                        </div>                  
                        
                        <div class="tab-pane" id="settings" formGroupName="settings">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-dark-gray" id="checkboxActive" formControlName="isActive" [value]="isActive">
                                <label class="custom-control-label" for="checkboxActive">Active</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-dark-gray" id="checkboxDeleted" formControlName="isDeleted" [value]="isDeleted">
                                <label class="custom-control-label" for="checkboxDeleted">Deleted</label>
                            </div>
                            <label *ngIf="user.id"><span class="text-gray">Registration date:</span> <i>{{user.settings.registrationDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i></label> 
                            <label *ngIf="user.id"><span class="text-gray">Last joined date:</span> <i>{{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i> </label>     
                        </div>           
                    </div>
                    <div class="col-12 bg-white text-center py-1">
                        <button [disabled]="!form.valid || !(files.length || user.Images.length)" class="btn btn-success" type="submit"><span *ngIf="!user.id">Add</span><span *ngIf="user.id">Update</span></button>
                        <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
                    </div> 
                </form> 
            </div>
        </div>    
    </div>
</ng-template>
<ng-template #modalContent2>
        <div class="modal-body bg-gray modal-lg">
            <div class="row">
                <div class="col-12 vertical-tabs">                
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="row px-3">
                           
                                         
                        <div class="tab-content col-12 border-0">
                            <div class="tab-pane active" id="basic">                                                
                                
                               
                                <div class="form-group">
                                    <label class="text-gray">Move To</label>
                                 
                                    <select formControlName="stage"  class="form-control" type="text">
                                       <option *ngFor="let stage of cat_datafull.stagelist" value='{{stage.stageid}}'>{{stage.stagename}}</option>
                                </select>
                           
                                </div>
                                <div>
    
                                </div>
                                
    
                                   
    
                            </div>                  
                            
                            <div class="tab-pane" id="settings" formGroupName="settings">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input checkbox-dark-gray" id="checkboxActive" formControlName="isActive" [value]="isActive">
                                    <label class="custom-control-label" for="checkboxActive">Active</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input checkbox-dark-gray" id="checkboxDeleted" formControlName="isDeleted" [value]="isDeleted">
                                    <label class="custom-control-label" for="checkboxDeleted">Deleted</label>
                                </div>
                                <label *ngIf="user.id"><span class="text-gray">Registration date:</span> <i>{{user.settings.registrationDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i></label> 
                                <label *ngIf="user.id"><span class="text-gray">Last joined date:</span> <i>{{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i> </label>     
                            </div>           
                        </div>
                        <div class="col-12 bg-white text-center py-1">
                            <button [disabled]="!form.valid || !(files.length || user.Images.length)" class="btn btn-success" type="submit"><span *ngIf="!user.id">Add</span><span *ngIf="user.id">Move</span></button>
                            <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
                        </div> 
                    </form> 
                </div>
            </div>    
        </div>
    </ng-template>
<ng-template #modalContent1>
    <div class="modal-body bg-gray modal-lg">
        <div class="row">
            <div class="col-12 vertical-tabs">                
                <form [formGroup]="catform" (ngSubmit)="onSubmit1(catform.value)" class="row px-3">
                                    
                    <div class="tab-content col-9 border-0">
                        <div class="tab-pane active" id="basic">                                                
                            <div class="form-group">
                                <label class="text-gray">Category name</label>
                                <input formControlName="Productname" class="form-control validation-field" type="text">
                                <small class="text-danger" *ngIf="catform.controls.Productname.touched && catform.controls.Productname.errors?.required">Productname is required</small>                              
                                
                            </div>
                              
                            <div class="form-group">
                                    <ngfFormData
                                   
                                    [files]      = "files"
                                    postName     = "file[]"
                                    [(FormData)] = "sendableFormData"
                                  ></ngfFormData>
                                  <ngfUploadStatus
          [(percent)] = "progress"
          [httpEvent] = "httpEvent"
        ></ngfUploadStatus>
                                <label class="text-gray">Images</label>
                                <div
      ngfDrop
      multiple         = "1"
      selectable       = "1"
      [(validDrag)]    = "validComboDrag"
      [(files)]        = "files"
      accept           = "image/*"
      [maxSize]        = "maxSize"
      [(lastInvalids)] = "lastInvalids"
      [(dragFiles)]    = "dragFiles"
      class            = "well my-drop-zone"
      [class.invalid-drag] = "validComboDrag===false"
      [class.valid-drag]   = "validComboDrag"
      (filesChange) = "lastFileAt=getDate()"
      
    >
       drop/select <strong>image</strong> only 
    </div>
                                 <input  ngfSelect
                               
                                type      = "hidden"
                               
                                 formControlName="Images"   class="form-control validation-field"  (change)="onSelectFile($event)" multiple> 
                            <small class="text-danger" *ngIf="form.controls.Images.touched && form.controls.Images.errors?.required">Image is required</small>                              
                                
                            </div>
                            <div class="uploadImage-div" *ngFor="let item of files;let i=index">
                                   
                                    <div class="previewIcon uploadImage" [ngfBackground]="item"></div>
                                <i (click)="files.splice(i,1)" class="fa fa-close closeicon"></i>
                            </div>
                            <div class="uploadImage-div" *ngFor="let item of cat.Images;let i=index">
                                   
                                    <img class="previewIcon uploadImage" [src]="imgurl+item"/>
                                <i (click)="cat.Images.splice(i,1)" class="fa fa-close closeicon"></i>
                            </div>
                            <div>

                            </div>
                            

                               

                        </div>                  
                                
                    </div>
                    <div class="col-12 bg-white text-center py-1">
                        <button [disabled]="!catform.valid || !(files.length || cat.Images.length)" class="btn btn-success" type="submit"><span *ngIf="!cat.Id">Add</span><span *ngIf="cat.Id">Update</span></button>
                        <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
                    </div> 
                </form> 
            </div>
        </div>    
    </div>
</ng-template>
