app-stage{
    .btn-success{
        margin-top: 10px;
        width: 100%;
    }
    .stage-1{
        height:100px;
        line-height:7;
        background-color:rgb(47, 62, 158) !important;
    }
    .stage-2{
        height:100px;
        line-height:7;
        background-color:rgb(210, 46, 46) !important;
    }
    .stage-3{
        height:100px;
        line-height:7;
       
    }
}